name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - run: cp .env.example .env
      - run: composer install -n --prefer-dist
      - run: php artisan key:generate

      - run: php artisan migrate:fresh --seed
      - run: php artisan test